tmp
.amateras
.classpath
.project
.settings
eclipse
test-result
logs
.orig
.DS_Store
public/uploads
.db
html-template/
bin-release/
bin-debug/
.flexProperties
.actionScriptProperties
data/
.idea
.iml
.pid
\.orig\..*$
\.orig$
\.chg\..*$
\.rej$
\.conflict\~$
